<container>
    <row>
        <columns small="12">
            <table border="0" cellpadding="0" cellspacing="0" width ='100%' style="border-spacing:0;border-left: 1px solid #e8e7e5; border-right:  1px solid #e8e7e5; border-bottom:  1px solid #e8e7e5; padding: 10px;" bg="'#ffffff">
            <tr>
                <div width="350" height="150" align="center" style="border-radius: 50%;">
                    <img src="http://www.pickmaid.com/dubai/assets/images/success-icon.png" width="60" height="60" style="padding-top: 5px;" border="0"/>
                </div>
            </tr>
            <tr>
                <td align="center" style="padding: 0px 40px 40px 40px;">
                    <p style="color: #262626; font-size: 32px; text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;">
                    Hello! <br/><%= name %><br/>
                    <b>
                    Cogratulations!!<br/>
                    your account has been activated successfully!</b>
                    </p>
                </td>
            </tr>
            </table>
        </columns>
    </row>
</container>